# ignore everything
*

# allow tracked dotfiles
!.gitignore

# include selected configs
!README.md

!dunst/
!dunst/**

!neofetch/
!neofetch/**

!nvim/
!nvim/**

!yt-dlp/
!yt-dlp/**

!screenshot.png
!starship.toml
!xinitrc
!zshrc
